<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.8.1/rxjs.umd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <p id="title"><%= title %></p>
  <input id="input1" type="text">
  <input id="input2" type="text">
  <button id="btn">Click</button>
  <span id="concatText"></span>
  <script src="/javascripts/script.js"></script>
</body>
</html>